.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.loading {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1/1;
  z-index: 10;
  background-color: rgba(238, 247, 255, 0.719);
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.4));
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.button {
  border: none;
  box-sizing: border-box;
  width: 4rem;
  aspect-ratio: 2/1;
  background: white;
  border-radius: 0.4rem;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.536));
}
.button:hover {
  cursor: pointer;
}
